main { 
    font-family: Arial, sans-serif; 
    margin: 20px; 
    padding: 20px; 
    background-color: #f9f9f9; 
    position : relative;
}

.overlay {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(2, 248, 10, 0.5);
    backdrop-filter: blur(10px);
    z-index: 10;
    display: flex;
    flex-direction: column;

}



nav {
    display: flex;
    justify-content: flex-end;
  
    font-size: 1.5rem;
   
}
nav h2{
    margin: 0;
    padding: 0;
 cursor: pointer;
 
    color: #ff0000;
}


#formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

#formContainer form {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 15px;
    width: 60%;
   
}



/* Utility class to hide elements */
.hidden {
    display: none;
}